{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Withdrawal History{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row gy-6">
  <h3 class=" mb-0 flex-wrap text-nowrap">Withdrawal History</h3>

  <!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Withdrawals</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Crypto Wallet</th>
          <th>Wallet Address</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Requested At</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for withdrawal in withdrawals %}
        <tr>
          <td>{{ withdrawal.crypto_wallet }}</td>
          <td>{{ withdrawal.wallet }}</td>
          <td>{{ withdrawal.amount }}</td>

          
          <td>
            <span class="badge rounded-pill 
                {% if withdrawal.status == 'pending' %} bg-label-warning 
                {% elif withdrawal.status == 'approved' %} bg-label-success 
                {% elif withdrawal.status == 'rejected' %} bg-label-danger 
                {% else %} bg-label-secondary {% endif %}">
                {{ withdrawal.status }}
            </span>
        </td>
        <td>{{ withdrawal.created_at|date:"M d, Y H:i" }}</td>

          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->

</div>
{% endblock %}
