{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Dashboard - Analytics{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}

{% if user.is_authenticated %}

<div class="row gy-6">
  <!-- Congratulations card -->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body text-nowrap">
        <h5 class="card-title mb-0 flex-wrap text-nowrap">Balance</h5>
        <p class="mb-2">Amount available in your account</p>
        <h4 class="text-primary mb-0">${{ user_balance }}</h4>
        <br>
        <a href="javascript:;" class="btn btn-sm btn-primary">Topup Account</a>
      </div>
      <img src="{% static 'img/illustrations/walletp.png' %}" class="position-absolute bottom-0 end-0 me-5 mb-5" width="83" alt="view sales">
    </div>
  </div>
  <!--/ Congratulations card -->

  <!-- Transactions -->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body text-nowrap">
        <h5 class="card-title mb-0 flex-wrap text-nowrap">Total Profit</h5>
        <p class="mb-2">Amount available in your account</p>
        <h4 class="text-primary mb-0">${{ user_profit }}</h4>
        <br>
        <a href="javascript:;" class="btn btn-sm btn-primary">Withdraw</a>
      </div>
      <img src="{% static 'img/illustrations/deposits.png' %}" class="position-absolute bottom-0 end-0 me-5 mb-5" width="83" alt="view sales">
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body text-nowrap">
        <h5 class="card-title mb-0 flex-wrap text-nowrap">Active Plan</h5>
        <p class="mb-2">Plan currently subscribed</p>
        {% if user_plan %}
          <h4 class="text-primary mb-0">{{ user_plan.name }}</h4>
          <a href="{% url 'upgrade_plan' %}" class="mt-3 btn btn-primary">Upgrade Plan</a>
        {% else %}
          <h4 class="text-secondary mb-0">No Plan</h4>
        <br>
        <a href="{% url 'upgrade_plan' %}" class="btn btn-primary">Get Plan</a>
        {% endif %}
        
        

      </div>
      <img src="{% static 'img/illustrations/active.png' %}" class="position-absolute bottom-0 end-0 me-5 mb-5" width="83" alt="view sales">
    </div>
  </div>
  <!--/ Transactions -->


  <!-- Four Cards -->
  <div class="col-xl-4 col-md-6">
    <div class="row gy-6">
      <!-- Total Profit line chart -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h4 class="mb-0">Tasks</h4>
          </div>
          <div></div>
          <div class="card-body">
            <p class="mb-2">Perform Tasks today to earn</p>
            <a href="{% url 'task-panel'%}" class="btn btn-sm btn-primary">Go to Tasks</a>
          </div>
        </div>
      </div>
      <!--/ Total Profit line chart -->
      <!-- Total Profit Weekly Project -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h4 class="mb-0">Daily Clicks</h4>
          </div>
          <div></div>
          <div class="card-body">
            <h5 class="mb-2 text-primary">{{ user_plan.daily_clicks}} Clicks</h5>
            <p class="mb-2">The amount of clicks available for you daily for boosting</p>

          </div>
        </div>
      </div>
      <!--/ Total Profit Weekly Project -->


    </div>
  </div>
  <!--/ Total Earning -->



  <!-- Deposit / Withdraw -->
  <div class="col-xl-8">
    <div class="card-group">
      <div class="card mb-0">
        <div class="card-body card-separator">
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                <h5 class="m-0 me-2">Deposit History</h5>
                <a class="fw-medium" href="{% url 'deposit-history' %}">View all</a>
            </div>
            <div class="deposit-content pt-2">
                <ul class="p-0 m-0">
                    {% for deposit in deposits %}
                    <li class="d-flex mb-4 align-items-center pb-2">
                        
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">{{ deposit.crypto_wallet }}</h6> <!-- This will display the crypto wallet type -->
                                <p class="mb-0">{{ deposit.status }}</p> <!-- This will display the status -->
                            </div>
                            <h6 class="text-success mb-0">$ {{ deposit.amount|floatformat:2 }}</h6> <!-- Display amount -->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="card mb-0">
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
              <h5 class="m-0 me-2">Withdrawal History</h5>
              <a class="fw-medium" href="{% url 'withdrawal-history' %}">View all</a>
          </div>
          <div class="withdraw-content pt-2">
              <ul class="p-0 m-0">
                  {% for withdrawal in withdrawals %}
                  <li class="d-flex mb-4 align-items-center pb-2">
                      
                      <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                              <h6 class="mb-0">{{ withdrawal.crypto_wallet }}</h6> <!-- Display wallet type -->
                              <p class="mb-0">{{ withdrawal.status }}</p> <!-- Display withdrawal status -->
                          </div>
                          <h6 class="text-danger mb-0">$ {{ withdrawal.amount|floatformat:2 }}</h6> <!-- Display amount -->
                      </div>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Deposit / Withdraw -->


</div>


{% endif %}
{% endblock %}
