{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Deposit History{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row gy-6">
  <h3 class=" mb-0 flex-wrap text-nowrap">Deposit History</h3>

  <!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Deposits</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Crypto wallet</th>
          <th>Amount</th>
          <th>Proof of Payment</th>
          <th>Status</th>
          <th>Requested At</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for deposit in deposits %}
        <tr>
          <td>{{ deposit.crypto_wallet }}</td>
          <td>${{ deposit.amount }}</td>
          <td>
            {% if deposit.proof_of_payment %}
                    <a href="{{ deposit.proof_of_payment.url }}" target="_blank">View Proof</a>
                    {% else %}
                    No Proof Uploaded
                    {% endif %}
          </td>
          
          <td>
            <span class="badge rounded-pill 
                {% if deposit.status == 'Pending' %} bg-label-warning 
                {% elif deposit.status == 'Approved' %} bg-label-success 
                {% elif deposit.status == 'Rejected' %} bg-label-danger 
                {% else %} bg-label-secondary {% endif %}">
                {{ deposit.status }}
            </span>
        </td>
        <td>{{ deposit.created_at|date:"M d, Y H:i" }}</td>
          
        </tr>
        {% empty %}
            <tr>
                <td colspan="7">No deposit made yet.</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->

</div>
{% endblock %}
