{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Login - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Alert</h5>
            <p class="card-text">You have logged out</p>
            <a href="javascript:void(0)" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
</div>

{% endblock %}