{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Reset Password Completed{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">

      <!-- Logo -->
      <div class="card p-7">
        <!-- Forgot Password -->
        <div class="app-brand justify-content-center mt-5">
          <a href="{% url 'index' %}" class="app-brand-link gap-3">
            <span class="app-brand-logo demo">{% include 'partials/logo.html' with bgcolor="#9055FD" %}</span>
            <span class="app-brand-text demo text-heading fw-semibold">{% get_theme_variables 'template_name' %}</span>
          </a>
        </div>
        <!-- /Logo -->
        <div class="card-body mt-1">
          <h4 class="mb-1">Password Reset Completed</h4>
          <p class="mb-5">You have successfully Reset your password. Use the new credentials to login.</p>

          <!-- Displaying any success or error messages -->
          {% if messages %}
            <div class="alert alert-info" role="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          
          <div class="text-center">
            <a href="{% url 'auth-login-basic' %}" class="d-flex align-items-center justify-content-center">
              <i class="ri-arrow-left-s-line scaleX-n1-rtl ri-20px me-1_5"></i>
              Back to login
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->

      <img src="{% static 'img/illustrations/tree-3.png' %}" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
      <img src="{% static 'img/illustrations/auth-basic-mask-light.png' %}" class="authentication-image d-none d-lg-block" height="172" alt="triangle-bg">
      <img src="{% static 'img/illustrations/tree.png' %}" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
    </div>
  </div>
</div>
{% endblock content %}
