{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Task Panel{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
<style>
  /* Custom CSS for positioning the toast at the bottom right */
  .toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1050;  /* Ensure it's above other elements */
  }

  .toast {
    margin-bottom: 10px;  /* Space between toasts if multiple appear */
  }
</style>
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row gy-6">
  <h3 class=" mb-0 flex-wrap text-nowrap">Task Panel</h3>

  <!-- Transactions -->
  <div class="col-lg-8">
    <div class="card h-100">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Transactions</h5>
          <div class="dropdown">
            <button class="btn text-muted p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ri-more-2-line ri-24px"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              <a class="dropdown-item" href="javascript:void(0);">Share</a>
              <a class="dropdown-item" href="javascript:void(0);">Update</a>
            </div>
          </div>
        </div>
        <p class="small mb-0"><span class="h6 mb-0">Account Summary</span> 💵</p>
      </div>
      <div class="card-body pt-lg-10">
        <div class="row g-6">
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-primary rounded shadow-xs">
                  <i class="ri-cash-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Total Deposits</p>
                <h5 class="mb-0">${{ total_approved_deposits }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-success rounded shadow-xs">
                  <i class="ri-money-dollar-circle-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Total Profit</p>
                <h5 class="mb-0">${{ user_profit }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-info rounded shadow-xs">
                  <i class="ri-money-dollar-circle-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Withdrwals</p>
                <h5 class="mb-0">${{ total_approved_withdrawals }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-warning rounded shadow-xs">
                  <i class="ri-macbook-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Current Plan</p>
                <h5 class="mb-0">{{ user_plan }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Transactions -->

<div class="row mb-12 g-6">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Start Tasks</h5>
        <p class="card-text">Start Clicking today to earn money💵</p>
        <a href="{% url 'transaction' %}" class="btn btn-primary">Start Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-secondary">Completed Clicks Today</h5>
        <h4 class="text-primary">{{ successful_checkouts }} Clicks</h4>
        <p class="card-text"><strong>Clicks Left: </strong>{{ clicks_left}} Clicks</p>
      </div>
    </div>
  </div>


  {% if messages %}
  <!-- Toast container to hold all toasts -->
  <div class="toast-container">
    <div class="bs-toast toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="ri-checkbox-circle-fill text-success me-2"></i>
        <div class="me-auto fw-medium">Success</div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


</div>
{% endblock %}
